#footer{
    background: black;
    color: white;
    }
    
    #footer a, #footerDivider a, #footerDivider p{
        color: white;
        text-decoration: none;
    }
    
    #footerDivider{
        background: #283747;
    }